[run]
branch = True
source = src
omit =
    */__pycache__/*
    */tests/integration/*
    */tests/e2e/*
    */tests/slow/*
    */tests/examples/*
    */tests/demo/*
    */__init__.py

[report]
show_missing = True
skip_covered = False

[html]
directory = htmlcov
